$yellow: #FFDD00

@font-face
  font-family: 'Roboto-Regular'
  src: font-url('Roboto-Regular.ttf') format('truetype')

body
  margin: 0px
  font-family: 'Roboto-Regular', sans-serif

h1
  font-weight: 400
  font-size: 40px
  margin: 30px 0px 70px 0px

p
  font-size: 22px

button
  background: $yellow
  padding: 20px
  width: 220px
  border: none
  font-size: 16px
  border-radius: 30px
  text-transform: uppercase
  margin: 70px 0px 70px 0px
  cursor: pointer

.header
  background: url('header.png') no-repeat
  background-position: center
  height: 750px
  color: #FFF
  text-align: right

  a, span
    color: $yellow

.container
  max-width: 960px
  margin: 0 auto
  //text-align: center

.logos
  padding: 60px 0px 60px 0px
  display: flex
  align-items: center
  justify-content: space-between

.promo
  width: 70%
  float: right

.asterisk
  text-transform: uppercase
  font-size: 10px
